#home{
    display: content;
}

nav{
    padding: 20px;
    background-color: rgb(36, 36, 119);
}
a:link{
color: black;
}
a:hover{
    background-color: rgb(36, 36, 119);
    border-radius: 5px;
    padding: 5px;
}
a:visited{
    color: red;
    
}

body {
    background-color: antiquewhite;
}

nav{
    text-align: center;
    background-color: rgb(0, 0, 108);
}

div a{
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    text-decoration: none;
    padding: 20px;

}

#contact {
   
    padding: 10px;
    
    background-color: rgb(0, 0, 108);
    color: white;
    border: none;
    

}

#register{
  
    padding: 10px;
    width: 300px;
    height:auto;
    border: 1px solid;
    
    
}
.bar{
    padding: 10px;
    text-align: center;
    justify-content: center;
    font-family: sans-serif;
    font-size: 24px;
    
}
nav img{
    position: relative;
    left: -500px;
}


.column {
    float: left;
    width: 16%;
    padding: 5px;
  }
  
  .row::after {
    content: "";
    clear: both;
    display: table;
  }


  .video{
    display: flex;
  }
