

body {
    background-color: gray;
}



.box {
    background: whitesmoke;
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.15);
    font-family: 'Satisfy', cursive; 
    font-size: 20px;
    
}

.box h2 {
    font-size: 40px;
    margin-bottom: 40px;
    position: relative;
    color: crimson;
}

.box h2 ::after {
    content: '';
    width: 80px;
    height: 5px;
    border-radius: 5px;
    background: rgb(255, 255, 255);
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%);
}

.box blockquote {
    font-size: 20px;
    min-height: 125px;

}

.box blockquote ::before, .box blockquote ::after {
    content: '"';
}

.box span {
    display: block;
    margin-top: 10px;
    float: right;
    position: relative;
}

#but {
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

#but button {
    background-color: crimson;
    color: black;
    border-radius: 20px;
    width: 150px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    cursor: pointer;
}

#quote {
    font-size: 30px;
}